aiohttp==3.7.4.post0
aiofiles==0.7.0
aioice==0.7.5
aiortc==1.2.0
asgiref==3.3.4
async-timeout==3.0.1
attrs==21.2.0
av==8.0.3
cffi==1.14.5
chardet==4.0.0
click==8.0.1
colorama==0.4.4
crc32c==2.2
cryptography==3.4.7
dnspython==2.1.0
fastapi==0.65.2
h11==0.12.0
idna==3.2
multidict==5.1.0
netifaces==0.11.0
numpy==1.20.3
opencv-python==4.5.2.52
pycparser==2.20
pydantic==1.8.2
pyee==8.1.0
pylibsrtp==0.6.8
starlette==0.14.2
typing-extensions==3.10.0.0
uvicorn==0.14.0
yarl==1.6.3
Jinja2==3.0.1